img {
  width: 500px;
}

/* Header */
.header {
  position: relative;
  padding: 15px;
  font-family: title;
  font-size: 16pt;
  color: white;
  background: #222;
}
.header .title {
  width: 375px;
}
.header .details {
  color: #aaa;
}
.header .details > div {
  display: inline-block;
  font-size: 12pt;
  margin-right: 20px;
}
.header .button {
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
}


/* Body */
.body {
  padding: 15px;
}
.body .section {
  position: relative;
  margin-bottom: 20px;
  padding: 0 10px 0 35px;
}
.body .section .fas {
  position: absolute;
  top: 3px;
  left: 0;
  color: #666;
}
.body .section li {
  padding: 2px 0;
}

.actors li > div {
  display: inline-block;
  margin-right: 10px;
}
.actors .character {
  color: #666;
  font-size: 12pt;
}
.summary .tagline {
  color: #666;
  font-family: title;
  font-style: italic;
  margin-bottom: 5px;
}
.summary .overview {
  text-align: justify;
}