<div *ngIf="serie">

  <img [src]="'http://image.tmdb.org/t/p/w500/' + serie.backgroundPath" />

  <div class="header">
    <div class="title">{{serie.title}}</div>
    <div class="details">
      <div>
        <i class="far fa-calendar-alt fa-left"></i>
        <span>{{serie.firstYear}} - {{serie.lastYear}}</span>
      </div>
      <div>
        <i class="fas fa-star fa-left"></i>
        <span>{{serie.rating.toFixed(1)}}</span>
      </div>
    </div>

    <div class="button watched" [ngClass]="serie.watched ? 'active' : ''" (click)="toggleWatched()">
      <i class="fas fa-check"></i>
    </div>
    <div class="button to-watch" [ngClass]="serie.toWatch ? 'active' : ''" (click)="toggleToWatch()">
      <i class="fas fa-exclamation"></i>
    </div>
  </div>

  <div class="body">

    <div class="section actors">
      <i class="fas fa-user"></i>
      <ul>
        <li *ngFor="let cast of serie.casts">
          <div class="actor">
            <a routerLink="/person/{{cast.personId}}">{{cast.personName}}</a>
          </div>
          <div class="character">{{cast.character}}</div>
        </li>
      </ul>
    </div>

    <div class="section summary">
      <i class="fas fa-quote-right"></i>
      <div class="overview">{{serie.overview}}</div>
    </div>

  </div>

  <img [src]="'http://image.tmdb.org/t/p/w500/' + serie.posterPath" />

</div>