<div *ngIf="movie">

  <!-- <pre>{{movie | json}}</pre> -->

  <div>{{movie.title}}</div>
  <div>{{movie.releaseYear}}</div>

  <div *ngIf="movie.status === -1">
    <div (click)="save()">#Save#</div>
  </div>
  <div *ngIf="movie.status !== -1">
    <div (click)="update()">{{movie.status}} #Update#</div>
    <div (click)="delete()">#Delete#</div>
  </div>

  <ul>
    <li *ngFor="let director of movie.directors">{{director}}</li>
  </ul>

  <ul>
    <li *ngFor="let cast of movie.casts">{{cast.actor}}, as {{cast.character}}</li>
  </ul>

  <img [src]="'http://image.tmdb.org/t/p/w500/' + movie.backgroundPath" />
  <img [src]="'http://image.tmdb.org/t/p/w500/' + movie.posterPath" />

</div>